header{
    background-color: var(--newCommunityTheme-body);
    border-bottom: 1px solid var(--newCommunityTheme-line);
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 20px;
    height: 50px;
    width: 100vw;
    user-select: none;
}

header div{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

header svg{
    height: 32px;
    padding: 8px 8px 8px 0;
    width: 32px;
}
header div{
    gap: 10px;
    width: min-content;
}

header button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0.2rem;
    box-sizing: content-box;
    cursor: pointer;
}

header div:first-of-type button:hover{
    margin: -1px;
    border: 1px solid var(--newRedditTheme-line);
}

header div:nth-child(1) button:focus{
    position: relative;
    align-items: baseline;
    top: 5px;
    height: 40px;
    margin: -1px ;
    border: 1px solid var(--newRedditTheme-line);
    border-bottom: none;
    pointer-events: none
}

header div:not(:first-of-type) button:hover{
    background-color: #DAE0E6;
}

#searchDropdown form{
    display: flex;
    width: 100%;
    margin: 0px 30px 0px 0px;
}

header input[type="search"]{
    position: relative;
    box-sizing: border-box;
    background-color: var(--newRedditTheme-field);
    border: 1px solid var(--newRedditTheme-line);
    border-radius: 1.25em;
    box-shadow: none;
    height: 40px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px 45px;
    font-size: 16px;
    user-select: auto;
}

header input[type="search"]:focus{
    height: 47px;
    top: 4px;
    outline: 0;
    background-color: var(--newRedditTheme-body);
    border: 1px solid var(--newRedditTheme-button);
    border-radius: 1.25em 1.25em 0 0;
}

header label[for="header-search-bar"]{
    position: relative;
    left: 20px;
}

header label[for="header-search-bar"] svg{
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin: 5px;
}

header form button{
    position: absolute;
    right: 580px;
    z-index: 1;
    height: 20px;
    padding: 5px;
    margin: 5px;
    display: none;
}

header form button:hover{
    outline:none !important
}

header form input[type="search"]:focus+button{
    display: flex;
}

header button svg{
    height: 20px;
    width: 20px;
    z-index: 1;
    padding: 0px;
    margin: 5px;
}

header div[role="menu"]{
    display: none;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    background-color: var(--newRedditTheme-body);
    border: 1px solid var(--newRedditTheme-line);
    border-top: 0 solid var(--newRedditTheme-line);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    color: var(--newRedditTheme-bodyText);
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 270px;
    height: 50vh;
    top: 50px;
    white-space: nowrap;
}

header div[role="menu"]:has(#header-subreddit-filter){
    left: 69px;
}

#searchDropDown, #searchDropDown > *{
    width: 100%;
}

#searchDropDownContent{
    left: 155px;
    width: 50%;
}

header div[role="menu"]{
    left: unset;
    right: 60px;
    gap:0px;
    font-size: 0.9rem;
    font-weight: 600;
}

header div[role="menu"]:nth-last-of-type(1) span:not(button span){
    border-top: 1px;
    border-bottom: 1px;
    border-color: var(--newRedditTheme-line);
    border-style: solid;
    width: 100%;
    margin-top: -1px;
    background-color: #2196F3;
}

header div[role="menu"]:nth-last-of-type(1) button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px;
}

header div[role="menu"]:nth-last-of-type(1) button:not(:has(span)){
    justify-content: start;
}

header div:first-of-type button:focus+div[role="menu"]{
    display: flex;
}

header div[role="menu"] div[role="heading"]{
    color: var(--newRedditTheme-actionIcon);
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    width: 100%;
    padding: 0px 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }